.Main {
    display: flex;
    flex-direction: row;
    min-height: 100vh;
    justify-content: center;
}
.Column {
    padding-bottom: 10%;
    padding-left:20px;
    padding-right:20px;

}

.Column h1 {
    text-align: center;
}
